
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <img style="width:150px; height:125px" src="~/recursos/imagenes/error.png" />
        <h3>ERROR:</h3>
        <p>mensaje de erro:  @ViewBag.mensaje</p>
    </div>
</body>
</html>
